/* HTML tags : start */
html, body, p, h1, h2, h3, h4, a, img, form, table, tr, td {
        margin: 0;
        padding: 0;
        border: 0}
html {height:100%;}
body{font-family:Arial, Helvetica, sans-serif;min-height:100%;position:relative;min-width:990px;_width:expression(document.documentElement.clientWidth < 990 ? "990px" : "auto");}
*html body{height:100%}
body{behavior:url("csshover.htc");}
/* HTML tags */
h1{}

@font-face {font-family: 'directrgregular';src: url('../fonts/direct-webfont.eot');src: url('../fonts/direct-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/direct-webfont.woff') format('woff'), url('../fonts/direct-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'directrgbold';src: url('../fonts/direct_bold-webfont.eot');src: url('../fonts/direct_bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/direct_bold-webfont.woff') format('woff'), url('d../fonts/irect_bold-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'directcondensed';src: url('../fonts/direct_cond-webfont.eot');src: url('../fonts/direct_cond-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/direct_cond-webfont.woff') format('woff'), url('../fonts/direct_cond-webfont.ttf') format('truetype'); font-weight: normal; font-style: normal;}

.main-container{}

.is-sticky .header{-moz-box-shadow: 10px 10px 20px 0 #000; -webkit-box-shadow: 10px 10px 20px 0 #000; box-shadow: 0px 0px 5px 0 #000;}

@media only screen and (min-width:970px) {
    .is-sticky .header {padding-left:10px}
}

@media only screen and (min-width:1100px) {
    .is-sticky .header {padding-left:0px}
}


.header{height:180px;background:#fff url(../images/header_right.png) right -5px no-repeat;width:100%;box-sizing:border-box;position:relative;z-index:100}
.header-inner{width:970px;margin:0 auto;padding-top:30px;background:url(../images/lang_bg.png) 97% -5px no-repeat}
.slogan{float:left;width:300px;}
.lang-box{float:right;width:300px;height:68px;line-height:68px;text-align:right}
.lang-box img{vertical-align:middle}
.lang-box a{color:#fff;font-size:12px;margin-left:45px}
.lang-box span a{margin-left:0}
.lang-box a.act{text-decoration:none}
.lang-box a.en{color:#1db09a}
.logo{margin:0 300px;text-align:center}

/* Menu */
.mmenu{clear:both;margin:0 auto;width:900px;padding-top:30px;text-align:center}
.mmenu ul{margin:0;padding:0;list-style-type:none}
.mmenu ul li{float:left;height:41px;position:relative;margin:0 -20px}
.mmenu a{font-size:17px;font-family: 'directrgbold';text-transform:uppercase;text-decoration:none;line-height:41px;padding:0 40px;height:41px;float:left}
.mmenu li:hover a {color:#fff !important}
.mmenu li:hover a span {border:0 !important}
.mmenu li.current a {color:#fff !important}
.mmenu li.current a span {border:0 !important}

.mmenu li.about{z-index:5}
.mmenu li.about a{color:#146592;}
.mmenu li.about a span{border-bottom:1px dashed #146592}
.mmenu li.about:hover{background:url(../images/menu04_right.png) right no-repeat }
.mmenu li.about:hover a{background:url(../images/menu04_left.png) left no-repeat;}
.mmenu li.about.current{background:url(../images/menu04_right.png) right no-repeat }
.mmenu li.about.current a{background:url(../images/menu04_left.png) left no-repeat;}

.mmenu li.calendar{z-index:4}
.mmenu li.calendar a{color:#146592;}
.mmenu li.calendar a span{border-bottom:1px dashed #146592}
.mmenu li.calendar:hover{background:url(../images/menu02_right.png) right no-repeat }
.mmenu li.calendar:hover a{background:url(../images/menu02_left.png) left no-repeat;}
.mmenu li.calendar.current{background:url(../images/menu02_right.png) right no-repeat }
.mmenu li.calendar.current a{background:url(../images/menu02_left.png) left no-repeat;}

.mmenu li.partner{z-index:3}
.mmenu li.partner a{color:#146592;}
.mmenu li.partner a span{border-bottom:1px dashed #146592}
.mmenu li.partner:hover{background:url(../images/menu01_right.png) right no-repeat }
.mmenu li.partner:hover a{background:url(../images/menu01_left.png) left no-repeat;}
.mmenu li.partner.current{background:url(../images/menu01_right.png) right no-repeat }
.mmenu li.partner.current a{background:url(../images/menu01_left.png) left no-repeat;}

.mmenu li.news {z-index:2}
.mmenu li.news a{color:#146592;}
.mmenu li.news a span{border-bottom:1px dashed #146592}
.mmenu li.news:hover{background:url(../images/menu03_right.png) right no-repeat }
.mmenu li.news:hover a{background:url(../images/menu03_left.png) left no-repeat;}
.mmenu li.news.current{background:url(../images/menu03_right.png) right no-repeat }
.mmenu li.news.current a{background:url(../images/menu03_left.png) left no-repeat;}

.mmenu li.contact {z-index:1}
.mmenu li.contact a{color:#146592;}
.mmenu li.contact a span{border-bottom:1px dashed #146592}
.mmenu li.contact:hover{background:url(../images/menu05_right.png) right no-repeat }
.mmenu li.contact:hover a{background:url(../images/menu05_left.png) left no-repeat;}
.mmenu li.contact.current{background:url(../images/menu05_right.png) right no-repeat }
.mmenu li.contact.current a{background:url(../images/menu05_left.png) left no-repeat;}

/* Menu */

.about-box{background:url(../images/fon01.jpg) top center no-repeat;height:595px;width:100%}
.about-box-paralax1{background:url(../images/1-2.png) 100% 535px no-repeat;height:595px; background-attachment: fixed;}
.about-box-paralax2{background:url(../images/1-1.png) 120% 105% no-repeat;height:595px; background-attachment: fixed;}
.about-inner{width:970px;margin:0 auto;padding-top:50px}
.about-inner .title{font-family: 'directrgbold';text-transform:uppercase;font-size:30px;line-height:32px;color:#fff;text-shadow:1px 1px #104a4c;padding-bottom:20px}
.about-inner div.top{font-size:17px;color:#fff;line-height:22px;text-shadow:1px 1px #104a4c;padding-bottom:12px;font-weight:bold}
.about-inner p{font-size:17px;color:#fff;line-height:22px;text-shadow:1px 1px #104a4c;padding-bottom:12px;}
.about-inner ul{font-size:17px;color:#fff;line-height:22px;text-shadow:1px 1px #104a4c;padding:0 15px;margin:0}
.about-inner ul li{padding:0 40px 12px 15px}

.calendar-box{background:#194e86 url(../images/fon02.jpg) top center no-repeat;width:100%}
.calendar-box-parallax{background:url(../images/2-1.png) -100px 100% no-repeat;}
.calendar-inner{width:970px;margin:0 auto;padding-top:50px;position:relative}
.calendar-inner .help{padding-bottom:20px}
.calendar-inner .help span{margin-right:10px}
.calendar-inner .help span img{vertical-align:middle;}
.calendar-inner .help span a{color:#fff;text-decoration:none;border-bottom:1px dashed #4f779a;font-size:13px;font-style:italic;text-shadow:1px 1px #0d476c;}
.calendar-inner .title{font-family: 'directrgbold';text-transform:uppercase;font-size:34px;line-height:36px;color:#fff;text-shadow:1px 1px #0d476c;padding-bottom:20px}

.calendar-inner .reg-b{position:absolute;top:50px;right:0;}
.calendar-inner .reg-b a{background:url(../images/reb_b.png) no-repeat;width:318px;height:61px;line-height:61px;color:#fff;text-decoration:none;display:block;font-size:21px;text-align:center}
.calendar-inner .reg-b a span{color:#fff;text-decoration:underline;font-family: 'directrgregular';}
.calendar-inner .reg-b a:hover span{text-decoration:none}

.calendar-inner .print-b{position:absolute;top:50px;right:370px}

.calendar-inner .top{padding-top:20px}
.calendar-inner table{border-collapse:collapse;width:100%;margin-bottom:20px}
.calendar-inner table td{color:#fff;font-size:14px;background:url(../images/td_sep.png) top repeat-x;vertical-align:top;font-size:17px;text-shadow:1px 1px #0d476c;width:370px;padding-right:20px}
.calendar-inner table td:first-child{font-weight:bold;width:165px !important;padding-right:0}
.calendar-inner table td:first-child span{padding-left:0}
.calendar-inner table td a{font-weight:bold;color:#deedbc}
.calendar-inner table td a:hover{text-decoration:none}
.calendar-inner table td span{float:left;background:url(../images/span_sep.png) top repeat-x;padding:0 10px 10px 10px }
.calendar-inner table.active td span a{text-decoration:none;color:#fff}
.calendar-inner table.ft td span{background:url(../images/span_sep_ft.png) top repeat-x;}
.calendar-inner table.st td span{background:url(../images/span_sep_st.png) top repeat-x;}
.calendar-inner table.lt td span{background:url(../images/span_sep_lt.png) top repeat-x;}
.calendar-inner table td.last{width:20px !important;background:none;padding-right:0}
.calendar-inner table td.last span{padding:0;}

.calendar-inner i a{display:block;width:16px;height:16px;float:right;}

.calendar-inner .pos01 i{display:block;width:30px;height:16px;background: url(../images/ico01.png) top right no-repeat;margin-top:5px;float:right}
.calendar-inner .pos02 i{display:block;width:30px;height:16px;background: url(../images/ico02.png) top right no-repeat;margin-top:5px;float:right}
.calendar-inner .pos03 i{display:block;width:30px;height:16px;background: url(../images/ico03.png) top right no-repeat;margin-top:5px;float:right}

.calendar-inner .all-b{padding:20px 0 55px 0;margin-left:-60px}
.calendar-inner .all-b span{background:url(../images/all_b.png) no-repeat;width:389px;height:41px;line-height:41px;text-align:center;display:block}
.calendar-inner .all-b span a{color:#deedbc;font-size:15px;text-decoration:none;border-bottom:1px dashed #deedbc}
.calendar-inner .all-b span:hover {background:url(../images/all_b_hover.png) no-repeat}
.calendar-inner .all-b span:hover a{color:#fff;border-bottom:1px dashed #fff}

.hide-pos{display:none}
.hide-pos2{display:none}

.drop{background:#fff;-moz-box-shadow: 0px 0px 20px #333; -webkit-box-shadow: 0px 0px 20px #333; box-shadow: 0px 0px 20px #333;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;margin:0 0 25px 0;position:relative;display:none}
.drop span.ugol{background:url(../images/ugol.png) no-repeat;position:absolute;width:23px;height:9px;top:-9px;left:50%;margin-left:-11px;opacity:0.9}
.drop-inner{-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;background:#fff;-moz-box-shadow: inset 0px 0px 40px #999; -webkit-box-shadow: inset 0px 0px 40px #999; box-shadow: inset 0px 0px 40px #999;padding:30px}
.drop h3 {font-family: 'directrgbold';text-transform:uppercase;font-size:28px;line-height:30px;color:#000;padding:25px 150px 20px 0;font-weight:normal;border-top:1px solid #e5e5e5}
.drop h4 {text-transform:uppercase;font-size:20px;line-height:22px;color:#000;padding:25px 0 10px 0;font-weight:normal;border-top:1px solid #e5e5e5}

.drop .reg-tab{position:absolute;background:url(../images/reg_bg.png) right no-repeat;width:160px;height:41px;line-height:41px;padding:0 0 0 30px;top:35px;left:0}
.drop .reg-tab a{color:#fff;font-size:15px;font-family: 'directrgbold';text-transform:uppercase;}

.drop .print-tab{position:absolute;top:45px;left:195px}

.drop ul.tabs{margin:0 0 0 auto;padding:5px 0 25px 0;list-style-type:none;width:700px;}
.drop ul.tabs li{float:left;cursor:pointer}

.drop ul.tabs li{float:left;height:41px;position:relative;margin:0 -20px}
.drop ul.tabs li a{font-size:15px;font-family: 'directrgbold';text-transform:uppercase;text-decoration:none;line-height:41px;padding:0 39px 0 40px;height:41px;float:left}
.drop ul.tabs li:hover a {color:#fff !important}
.drop ul.tabs li:hover a span {border:0 !important}
.drop ul.tabs li.current a {color:#fff !important}
.drop ul.tabs li.current a span {border:0 !important}

.drop ul.tabs li.t01 {z-index:5}
.drop ul.tabs li.t01 a{color:#146592;}
.drop ul.tabs li.t01 a span{border-bottom:1px dashed #146592}
.drop ul.tabs li.t01:hover{background:url(../images/menu02_right.png) right no-repeat }
.drop ul.tabs li.t01:hover a{background:url(../images/menu02_left.png) left no-repeat;}
.drop ul.tabs li.t01.current{background:url(../images/menu02_right.png) right no-repeat }
.drop ul.tabs li.t01.current a{background:url(../images/menu02_left.png) left no-repeat;}

.drop ul.tabs li.t02 {z-index:4}
.drop ul.tabs li.t02 a{color:#27b298;}
.drop ul.tabs li.t02 a span{border-bottom:1px dashed #27b298}
.drop ul.tabs li.t02:hover{background:url(../images/menu04_right.png) right no-repeat }
.drop ul.tabs li.t02:hover a{background:url(../images/menu04_left.png) left no-repeat;}
.drop ul.tabs li.t02.current{background:url(../images/menu04_right.png) right no-repeat }
.drop ul.tabs li.t02.current a{background:url(../images/menu04_left.png) left no-repeat;}

.drop ul.tabs li.t03 {z-index:3}
.drop ul.tabs li.t03 a{color:#972548;}
.drop ul.tabs li.t03 a span{border-bottom:1px dashed #972548}
.drop ul.tabs li.t03:hover{background:url(../images/menu05_right.png) right no-repeat }
.drop ul.tabs li.t03:hover a{background:url(../images/menu05_left.png) left no-repeat;}
.drop ul.tabs li.t03.current{background:url(../images/menu05_right.png) right no-repeat }
.drop ul.tabs li.t03.current a{background:url(../images/menu05_left.png) left no-repeat;}

.drop ul.tabs li.t04 {z-index:2}
.drop ul.tabs li.t04 a{color:#7d7d7d;}
.drop ul.tabs li.t04 a span{border-bottom:1px dashed #7d7d7d}
.drop ul.tabs li.t04:hover{background:url(../images/menu03_right.png) right no-repeat }
.drop ul.tabs li.t04:hover a{background:url(../images/menu03_left.png) left no-repeat;}
.drop ul.tabs li.t04.current{background:url(../images/menu03_right.png) right no-repeat }
.drop ul.tabs li.t04.current a{background:url(../images/menu03_left.png) left no-repeat;}

.drop ul.tabs li.t05 {z-index:1}
.drop ul.tabs li.t05 a{color:#000;}
.drop ul.tabs li.t05 a span{border-bottom:1px dashed #000}
.drop ul.tabs li.t05:hover{background:url(../images/menu01_right.png) right no-repeat }
.drop ul.tabs li.t05:hover a{background:url(../images/menu01_left.png) left no-repeat;}
.drop ul.tabs li.t05.current{background:url(../images/menu01_right.png) right no-repeat }
.drop ul.tabs li.t05.current a{background:url(../images/menu01_left.png) left no-repeat;}

.tbox{display:none}
.tbox.visible{display:block}

.tbox ul.question-list{margin:0 0 0 18px;padding:0;}
.tbox ul.question-list li{font-size:14px;line-height:18px;;padding-bottom:10px}


.drop dl {font-size:12px;color:#666666;margin:0 0 20px 0}
.drop dl dt {float:left;font-weight:bold;padding:1px 5px;width:120px;}
.drop dl dd {margin:2px 0;padding:1px 0;}
.drop p{font-size:14px }
.drop p a{color:#184e86;}

.partner-box{background:#fff;width:100%;}
.partner-box-parallax{background:url(../images/3-1.png) 50px -309px no-repeat;}
.partner-inner{width:970px;margin:0 auto;padding:65px 0 40px 0;text-align:center}
.partner-inner .title{font-family: 'directrgbold';text-transform:uppercase;font-size:36px;line-height:36px;color:#000;width:900px;margin:0 auto}
.partner-inner .title span{margin:0 10px;}
.partner-inner .title a{color:#27b298;border-bottom:2px dashed #27b298;text-decoration:none;line-height:36px;margin:0 10px}
.partner-inner .title a:hover{opacity:0.8}
.partner-inner div.sp, .partner-inner div.insp {clear:both;padding-top:40px;height:100px;text-align:center}
.partner-inner div.sp p, .partner-inner div.insp p{padding:3px 0;font-size:16px}
.partner-inner div.sp p a, .partner-inner div.insp p a{color:#000}
.partner-inner div.sp p a:hover, .partner-inner div.insp p a:hover{text-decoration:none}
.partner-inner div.sp p span, .partner-inner div.insp p span{font-size:20px;font-weight:bold}

.contact-box{background:url(../images/fon03.jpg) top center no-repeat;height:136px;}
.contact-box-parallax{background:url(../images/4-1.png) 100% 0 no-repeat;height:136px}
.contact-inner{width:970px;margin:0 auto;padding-top:40px}
.contact-inner table{border-collapse:collapse;width:100%;position:relative;z-index:10}
.contact-inner table td{vertical-align:top;text-shadow:2px 2px #6e2244;color:#fff;font-size:14px;line-height:17px}
.contact-inner table td a{color:#fff}
.contact-inner table td a:hover{text-decoration:none}
.contact-inner table td:first-child{width:260px;}
.contact-inner table td.last{width:190px;text-align:right}
.contact-inner .title{font-family: 'directrgbold';text-transform:uppercase;font-size:36px;line-height:36px;color:#fff;text-shadow:2px 2px #6e2244}

.news-box{background:#d8d8d8 url(../images/news_bg.png) top repeat-x}
.news-box-parallax{background:url(../images/5.png) 0 0 no-repeat;}
.news-inner{width:970px;margin:0 auto;padding-top:40px}
.news-inner .title{font-family: 'directrgbold';text-transform:uppercase;font-size:36px;line-height:36px;color:#000;}
.news-inner .help{padding:20px 0}
.news-inner .help span{margin-right:15px;}
.news-inner .help span img{vertical-align:middle;margin-left:3px}
.news-inner .help span a{color:#979797;text-decoration:none;font-size:13px;font-style:italic;}

.news-inner table{border-collapse:collapse;width:100%}
.news-inner table td{vertical-align:top;padding:10px 0}
.news-inner table td img{margin:0 20px}
.news-inner table td a{text-decoration:none;color:#000}
.news-inner table td a:hover{text-decoration:underline}

.news-inner i a{display:block;width:16px;height:16px;float:right;}
.news-inner .pos01 i{display:block;width:14px;height:18px;background: url(../images/ico06.png) top right no-repeat;}
.news-inner .pos02 i{display:block;width:14px;height:18px;background: url(../images/ico05.png) top right no-repeat;}
.news-inner .pos03 i{display:block;width:14px;height:18px;background: url(../images/ico04.png) top right no-repeat;}
.news-inner .pos04 i{display:block;width:14px;height:18px;background: url(../images/ico08.png) top right no-repeat;}
.news-inner .pos05 i{display:block;width:14px;height:18px;background: url(../images/ico07.png) top right no-repeat;}

.news-inner .all-b2{padding:20px 0 40px 0;margin-left:-60px;float:left}
.news-inner .all-b2 span{background:url(../images/all_b2.png) no-repeat;width:269px;height:41px;line-height:41px;text-align:center;display:block}
.news-inner .all-b2 span a{color:#a72a3a;font-size:15px;text-decoration:none;border-bottom:1px dashed #a72a3a}
.news-inner .all-b2 span:hover {background:url(../images/all_b2_hover.png) no-repeat}
.news-inner .all-b2 span:hover a{color:#a72a3a;border-bottom:1px dashed #a72a3a}

.news-inner .active:hover .news-title{text-decoration:none}
.news-inner .news-full{display:none;padding:0 0 15px 0}
.news-inner .news-full a.ancLinks{border-bottom:1px dashed #184e86;color:#184e86;text-decoration:none;font-family: 'directrgbold';font-size:15px;text-transform:uppercase}
.news-inner .news-full .drop{display:block;background:#fff;-moz-box-shadow: 0px 0px 20px #333; -webkit-box-shadow: 0px 0px 20px #333; box-shadow: 0px 0px 20px #999;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:20px;margin:0 0 25px 0;position:relative;}
.news-inner .news-full .drop h3{border:0;padding-top:0}
.news-inner .news-full .drop span.ugol{background:url(../images/ugol2.png) no-repeat;opacity:0.6}
.news-inner .news-full .drop dl {font-size:12px;color:#666666;margin:0 0 20px 0;border-bottom:1px solid #e5e5e5;padding-bottom:20px}
.news-inner .news-full p{line-height:18px}

.subs-box{padding:9px 0 0 35px;float:left;background:url(../images/ico09.png) 0 29px no-repeat;margin-left:15px;}
.subs-box span{padding:20px 0 0 0;float:left;font-size:15px;color:#000;text-decoration:none;border-bottom:1px dashed #000;cursor:pointer}
.subs-box span:hover{border:0}
.subs-form{display:none;padding:15px 0 0 0}
.subs-form input[type="text"]{border:1px solid #c4c4c4;background:url(../images/subs_in.png) repeat-x;height:31px;line-height:32px;color:#a3a3a3;font-size:13px;font-style:italic;padding:0 15px;width:245px;font-family:Arial, Helvetica, sans-serif}
.subs-form input[type="submit"]{border:1px solid #936a8f;border-bottom:1px solid #c16a75;background:url(../images/subs_b.png) repeat-x;height:31px;line-height:32px;color:#fff;font-size:13px;font-style:italic;padding:0 15px;font-family:Arial, Helvetica, sans-serif;cursor:pointer}
.subs-form input[type="submit"]:hover{background:url(../images/subs_b_h.png) repeat-x;}

.event2.act{}
.event2.act table td span a{text-decoration:none;color:#fff}
.event2.act .drop{display:block}

.calendar-inner .speeker-list ul{margin:0;padding:0;list-style-type:none}
.calendar-inner .speeker-list ul li{vertical-align:top;text-shadow:none;font-size:14px;line-height:18px;color:#000;position:relative;padding:0 0 15px 0}
.calendar-inner .speeker-list ul li a{text-shadow:none;color:#184e86;text-decoration:none;font-family: 'directrgbold';font-size:15px;text-transform:uppercase;display:block;padding-bottom:10px;cursor:text}
.calendar-inner .speeker-list ul li.act a{text-decoration:underline;cursor:pointer}

.speeker-box .speeker-left{float:left;width:480px}
.speeker-box .speeker-left p{font-size:14px;line-height:18px;padding-bottom:15px}
.speeker-box .speeker-right{float:right;width:340px;margin:0 0 0 20px}
.speeker-box .speeker-right img{-webkit-border-radius:120px;-moz-border-radius:120px;border-radius:120px;}
.speeker-box .speeker-right h3{text-transform:uppercase;font-size:20px;line-height:22px;padding:15px 0;font-family: 'directrgregular';font-weight:normal}
.speeker-box .speeker-right p{font-size:12px;line-height:18px;font-style:italic;}

.photo-list{}
.photo-list ul{margin:0;padding:0;list-style-type:none}
.photo-list ul{margin:0 -20px;padding:0;list-style-type:none}
.photo-list ul li{float:left;width:290px;margin:0 0 20px 20px;height:270px}
.photo-list ul li img{width:290px}
.photo-list ul li div{line-height:17px;font-size:12px;font-style:italic;padding:15px 0;overflow:hidden;height:40px;text-align:center}

.video-box{margin:0 -30px}
.video-box div{line-height:17px;font-size:12px;font-style:italic;padding:25px 200px;overflow:hidden;text-align:center}

.fancybox-regbox .fancybox-inner{overflow:inherit !important}
.reg-box{}
.reg-box h3 {font-family: 'directrgbold';text-transform:uppercase;font-size:28px;line-height:30px;color:#000;padding:0 0 20px 0;font-weight:normal;}
.reg-box .reg-right{float:right;width:400px}
.reg-box .reg-right p{font-size:17px;line-height:19px;padding-bottom:20px}
.reg-box .reg-right div{clear:both}
.reg-box .reg-right .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.reg-box .reg-right .checkboxlabelclass{background: url(../images/check_1.png) no-repeat;padding-left:25px; margin:0 5px 0 0;height:22px;display: block;float:left;font-size:13px}
.reg-box .reg-right .labelselected{background:url(../images/check_2.png) no-repeat}
.reg-box .line{position:relative;float:left;width:300px;padding:0 0 10px 150px}
.reg-box .line input{background:url(../images/in_bg.png) repeat-x;height:31px;line-height:31px;color:#000;font-size:13px;font-family:Arial, Helvetica, sans-serif;padding:0 10px;width:280px;border:1px solid #c4c4c4}
.reg-box .line label{position:absolute;width:150px;left:0;top:10px;font-size:13px;color:#000}
.reg-box .line label sup{color:#912f5a;font-size:14px;vertical-align:top}
.reg-box .sep{border-bottom:1px solid #e5e5e5;clear:both;padding:0 0 5px 0;margin-bottom:25px}
.reg-box .tools{font-size:12px;font-style:italic;}
.reg-box .tools span{float:left;}
.reg-box .tools .checkboxclass{position: absolute;overflow: hidden;left: -9999px;}
.reg-box .tools .checkboxlabelclass{background: url(../images/check_1.png) no-repeat;padding-left:25px; margin:0 5px;height:22px;display: block;float:left;font-size:12px;font-style:italic}
.reg-box .tools .labelselected{background:url(../images/check_2.png) no-repeat}
.reg-box .tools a{color:#912f5a}
.reg-box .tools a:hover{text-decoration:none}
.reg-box .send-b{background:url(../images/send_b.png) no-repeat;height:41px;line-height:41px;padding:0 0 0 30px;width:188px;position:relative;margin:10px 0 0 0;left:-30px;}
.reg-box .send-b a{color:#fff;font-size:21px;font-family: 'directrgregular';text-transform:uppercase;}

.privacy h3{font-family: 'directrgregular';text-transform:uppercase;font-size:20px;line-height:30px;color:#000;padding:0 0 20px 0;font-weight:normal;}
.privacy p{font-size:14px;line-height:18px;padding-bottom:15px}
.privacy p a{color:#27b298}
.privacy ul{margin:0 0 0 15px;padding:0;}
.privacy ul li{font-size:14px;line-height:18px;padding:0 0 10px 0}

/* Content */

.img-bottom{position:absolute;bottom:0;right:0}

#easyTooltip{padding:5px 10px;border:1px solid #195fa4;background:#2db498;color:#fff;margin-top:-0px;font-size:12px;font-style:italic}

/* Footer */
#footer{}
/* Footer */

.no-maps-mini img.gmnoprint{width:30px !important;height:130px !important;}



.clear{clear:both}
* html .clearfix{height: 1%; overflow: visible;}
*+html .clearfix{  min-height: 1%;}
.clearfix { zoom: 1 }
.clearfix:after {  content: "";   clear: both;  display: block;  width: 0; height: 0;  overflow: hidden;  font-size: 0;}
